
body {
  font-family: "sans-serif";
}

main {
  padding-top: 62px;
}

.font_releway {
  font-family: Raleway;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header_inner {
  display: flex;
  position: relative;
}

.header_box {
  background-color: #fff;
  width: 100%;
  padding: 15px 0 15px 0;
  position: fixed;
  z-index: 9999;
}

.contact-button {
  background-color: #74cfae;
  color: #fff;
  position: absolute;
  left: 90%;
  text-decoration: none;
  transition: 0.3s;
}

.contact-button:hover {
  color: #333;
}

.contact_text {
  padding: 14px 12px;
  font-size: 12px;
}

.title_bolt_box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 250px 0;
}

.title_bolt {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.sub_title {
  color: #c0c0c0;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.SP_what_box {
  background-color: #74cfae;
  padding-top: 50px;
  width: 100%;
}

.SP_text_box {
  text-align: center;
  width: 70%;
}

.SP_title {
  color: #fff;
  font-size: 24px;
}

.SP_title_text {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.OLW_box {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
  width: 100%;
}

.OLW_title {
  color: #333;
  text-align: center;
  font-size: 24px;
}

.OLW_img {
  opacity: 0.7;
  transition: 0.3s;
  width: 300px;
}

.OLW_img:hover {
  opacity: 1;
}

.Email_button {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.Email_button:hover {
  color: #333;
}

.Email_button_text {
  font-size: 14px;
  text-align: center;
}

.skills_box {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  width: 100%;
}

.skills_title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 70px;
  text-align: center;
}

.skills_img_text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.sns_box {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns_link_button {
  padding: 20px 0;
  width: 185px;
  transition: 0.3s;
}

.sns_link_button:hover {
  background-color: #fff;
}

.sns_link_img {
  color: #74cfae;
  text-align: center;
}

.Author_box {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  width: 100%;
}

.Author_inner {
  display: flex;
  color: #fff;
  justify-content: flex-end;
}

.heart_img {
  margin: 0 5px;
}

@media screen and (min-width: 1200px) {
  .SP_inner {
    display: flex;
    justify-content: space-around;
  }

  .contact-hamburger {
    display: none;
  }

  .OLW_img_box {
    margin: 40px 0 90px 0;
  }

  .OLW_img {
    margin: 80px 0 0 100px;
    float: left;
  }

  .OLW_img:nth-child(-n+3) {
    margin-top: 0;
  }
  
  .OLW_img:nth-child(3n+1){
    margin-left: 0px;
  }

  .OLW_img_box::after {
    content: "";
    clear: both;
    display: block;
  }

  .OLW_text {
    float: left;
    margin: 0 90px 0 90px;
    text-align: center;
    width: 49%;
  }

  .Email_button {
    float: left;
  }

  .skills_img_box {
    display: flex;
    justify-content: center;
  }

  .skills_img:first-child {
    margin-left: 0px;
  }

  .skills_img {
    margin-left: 180px;
  }

  .sns_inner {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  .contact-hamburger {
    display: none;
  }

  .SP_what_box {
   padding: 50px 0 25px 0;
  }

  .SP_inner {
    text-align: center;
  }

  .SP_text_box {
    width: 100%;
  }
  
  .SP_title {
    margin: 20px 0 35px 0;
  }

  .OLW_title {
    margin-bottom: 40px;
  }

  .OLW_img {
    display: flex;
    margin: 0 auto;
  }

  .OLW_img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .OLW_text {
    margin-bottom: 40px;
  }

  .OLW_text_Email_box {
    text-align: center;
  }

  .Email_button {
    margin: 0 auto;
    display: block;
    width: 68px;
  }

  .skills_img_box {
    text-align: center;
  }

  .skills_img {
    margin-bottom: 88px;
  }
  .skills_img:last-child {
    margin-bottom: 0;
  }

  .sns_inner {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .contact-button {
    display: none;
  }

  .contact_text {
    display: none;
  }

  .contact-hamburger {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    left: 90%;
  }

  /*ハンバーガー*/
  span {
  height: 3px;
  width: 25px;
  border-radius: 4px;
  background: #ddd;
  display: block;
  content: '';
  cursor: pointer;
  margin-top: 5px;
  }

  span:first-child {
    margin-top: 0px;
  }

  .title_bolt_box {
    padding: 160px 0 130px 0;
  }

  .title_bolt {
    font-size: 80px;
  }
  .sns_box {
    padding: 50px 15px;
  }

  .sns_inner {
    flex-direction: column;
  }

  .sns_link_button {
    margin: 0 auto;
    width: 100%;
  }
}