
.inner {
  margin: 0 auto;
  width: 1100px;
}

header {
  background-color: #fff;
  width: 100%;
}

.bolt_img {
  padding: 15px;
}

.contact-button {
  background-color: #74cfae;
  color: #fff;
  margin: 13px;
  float: right;
  text-decoration: none;
}

.contact-button:hover {
  color: #333;
  transition: 0.3s;
}

.contact_text {
  padding: 14px 12px;
  font-size: 12px;
}

.title_inner {
  background-color: #f2f2f2;
  padding: 250px 0;
  width: 100%;
}

.title_bolt {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.sub_title {
  color: #c0c0c0;
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
}

.SP_what_box {
  background-color: #74cfae;
  width: 100%;
}

.SP_inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.SP_text_box {
  text-align: center;
  width: 70%;
}

.SP_title {
  color: #fff;
  font-size: 24px;
  font-family: Raleway;
}

.SP_title_text {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.OLW_box {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
  width: 100%;
}

.OLW_title {
  color: #333;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-family: Raleway;

}

.OLW_img_box::after {
  content: "";
  clear: both;
  display: block;
}

.OLW_img {
  margin: 0 0 80px 100px;
  opacity: 0.7;
  float: left;
}
.OLW_img:hover {
  opacity: 1;
}

.OLW_img:first-child {
  margin-left: 0px;
}

.OLW_img:nth-child(4){
  margin-left: 0px;
}

.OLW_img:nth-child(n+4) {
  margin-bottom: 90px;
}

.OLW_text_Email_box {
  display: flex;
  justify-content: center;
}

.OLW_text {
  margin-right: 90px;
  text-align: center;
  width: 49%;
}

.Email_button {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
}

.Email_button:hover {
  color: #333;
  transition: 0.3s;
}

.Email_button_text {
  font-size: 14px;
  text-align: center;
}

.skills_inner {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  width: 100%;
}

.skills_title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 70px;
  text-align: center;
}

.skills_img_box::after {
  content: "";
  clear: both;
  display: block;
}

.skills_img {
  float: left;
  margin-left: 180px;
}

.skills_img_text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.skills_img:first-child {
  margin-left: 0px;
}

.sns_inner {
  background-color: #f2f2f2;
  padding: 200px 0;
  width: 100%;
}

.sns_box {
  display: flex;
  justify-content: center;
}

.sns_link_button {
  padding: 20px 0;
  width: 185px;
}

.sns_link_button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.sns_link_img {
  color: #74cfae;
  text-align: center;
}

.Author_inner {
  background-color: #74cfae;
  width: 100%;
}

.Author_text_box {
  display: flex;
  color: #fff;
  justify-content: flex-end;
  padding: 20px 0 25px 0;
}

.heart_img {
  padding: 0 5px;
}